:root {
  --black: #000;
  --white: #fff;
  --red: #e50914;
  --hr-color: #222;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--black);
}

header {
  position: relative;
  height: 100vh;
}

.bgimg {
  position: absolute;
  background: center;
  background-size: cover;

  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: -1;
}

.showcase-top img {
  width: 195px;
}

.showcase-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.leftcontent {
  margin: 10px;
  width: 20%;
}

.sign {
  margin: 3%;
  border-radius: 5px;
  border: none;
  background: var(--red);
  font-size: 1rem;
  padding: 9px 20px;
  line-height: 1.3em; 
}
  

.showcase-top select, .language-switcher {
  background: rgba(0,0,0,.4);
  padding: 7px 8px;
  margin: 0%;
  color: var(--white);
  border: 1px white solid;
  
}

a {
  text-decoration: none;
  color: var(--white);
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-size: 25px;
}

.showcase-content {
  line-height: 1.3cm;
  width: 50%;
  text-align: center;

}

.showcase-content button {
  font-size: 19px;
  padding: 10px 25px;
  text-align: center;
  color: var(--white);
  background-color: var(--red);
  border: none;
}

.emailfield {
  font-size: 20px;
  height: 30px;
  width: 500px;
  padding: 10px 10px 0;  
}

p {
  font-size: 20px
}

hr {
  color: rgb(58, 55, 55);
  border: 3px solid;

}

.secondcontainer {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.secondcontent {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;

}

.secondcontent > h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
 .secondcontent > p {
  font-size: 1.25rem;
  font-weight: 200;
 }

 .thirdcontainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
 }

 .thirdcontent {
  flex-direction: column;
  width: 40%;
  justify-content: center;
  margin: 60px;
 }

 .thirdcontent > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  
}
 .thirdcontent > p {
  font-size: 1.25rem;
  font-weight: 200;
 }

 .fourthcontainer {
  margin: 70px; 
  display: flex;
}

.fourthcontent {
  flex-direction: column;
  width: 50%;
}

.fourthcontent > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  
}
 .fourthcontent > p {
  font-size: 1.25rem;
  font-weight: 200;
 }

 .fifthcontainer {
  display: flex;
  margin: 50px;
  justify-content: space-evenly;

 }

 .fifthcontent {
  flex-direction: column;
  width: 50%;
  margin-top: 100px;
  justify-content: center;
 }

 .fifthcontent > h1 {
  font-size: 2.5rem;
  font-weight: 600;
 }

 .fifthcontent > p {
  font-size: 1.25rem;
  font-weight: 200;
 }


 .footer {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  width: 80%;
  gap: 10px;
  flex-direction: column;
 }

.footerlist {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 0px;
  padding: 20px;
  line-height: 30px;
  
}
 
.footer, .footer a {
  color: #999;
  font-size: 0.8rem;
 }

ul {
  list-style: none;
}
.footer p, span {
  
  font-size: 0.9rem;
  margin-left: 85px;
}

.footerselect {
  padding-left: 80px;
  
}
.language-switcher {
  padding: 15px;
}